/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {

  --highlight-color: rgba(53, 52, 48, 1);
  --background-image: url(../images/cover-image-light.png);
  --title-color: rgba(255, 194, 230, 1);
  --background-color: #fff1f7;
  --main-text: rgba(53, 52, 48, 1);
  --title-decoration-color: rgba(53, 52, 48, 1);
  --highlight-color-bg: rgba(255, 141, 203, 1);
  --highlight-color-hover: rgba(53, 52, 48, 0.4);
}

.theme-light .page .record {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --highlight-color: rgba(53, 52, 48, 1);
    --background-image: url(../images/cover-image-light.png);
    --title-color: rgba(255, 194, 230, 1);
    --background-color: #fff1f7;
    --main-text: rgba(53, 52, 48, 1);
    --title-decoration-color: rgba(53, 52, 48, 1);
    --highlight-color-bg: rgba(255, 141, 203, 1);
    --highlight-color-hover: rgba(53, 52, 48, 0.4);
  }

  .page .record {
    display: none;
  }

}